#container{
  margin-left: auto;
  margin-right: auto;
  width: 46em;
  text-align: center;
  a{
    color: black;
    text-align: initial;
  }

  h3{
    font-size: 1.5em;
  }

  .button{
    padding-top: 10px;
  }

  .task-title{
    font-size: 1em;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    width: 400px;
    margin: 4px;
  }

  ul{
    list-style: none;
    li{
      height: 45px;
      border-radius: 5px;
      font-size: 1.2em;
      margin-bottom: 12px;
      
      dl{
        padding-top: 10px;
      }
      &:hover{
        a.remove{
          display: block;
        }
      }
    }
    &.pending-tasks{
      li{
        background-color: #9bdeba;
      }
    }

    &.completed-tasks{
      li{
        background-color: grey;
      }
    }
  }
  .remove{
    float: right;
    margin-right: 10px;
    text-decoration: initial;
    padding-top: 5px;
    color: red;
  }
}
.hide{
  display: none;
}
