#container{
  margin-left: auto;
  margin-right: auto;
  width: 46em;
  text-align: center;

  h3{
    font-size: 1.5em;
  }
  
  .button{
    padding-top: 10px;
  }

  .task-title{
    font-size: 1em;
    border-radius: 10px;
    padding-left: 10px;
  }
  
  ul{
    list-style: none;
    li{
      height: 30px;
      border-radius: 5px;
      font-size: 1.2em;
    }
    &.pending-tasks{
      li{
        background-color: #9bdeba;
      }
    }

    &.completed-tasks{
      li{
        background-color: grey;
      }
    }
  }
}
.task-title{
  height: 30px;
  width: 400px;
  margin: 10px;
}
